.register {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerWrapper {
  width: 70%;
  height: 70%;
  display: flex;
  gap: 10px;
}

.registerLeft,
.registerRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registerLogo {
  font-size: 50px;
  font-weight: 800;
  color: #1775ee;
  margin-bottom: 10px;
}

.registerDesc {
  font-size: 24px;
}

.registerBox {
  height: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.registerInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
}

.registerInput:focus {
  outline: none;
}

.registerButton,
.registerLoginButton {
  height: 50px;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.registerButton {
  background-color: #1775ee;
  font-size: 20px;
}

.registerLoginButton {
  background-color: #42b72a;
  font-size: 16px;
  margin-top: 10px;
  width: 100%;
}
